.comment-section {
    display: flex; 
    flex-direction: column;
    margin-left: 2vw;
}

.comment-block { 
    display: flex;
    flex-direction: row;

}

.like-block { 
    display: flex;
    flex-direction: row;
    margin-left: 2vw  
}

.thumb { 
    margin-left: 1vw;
}

.reply-button { 
    background-color:rgb(29, 27, 34);
    color: aliceblue;
    border: rgb(29, 27, 34) solid 0px;
    margin-left: 2vw;
}

.comment-btn { 
    background-color:rgb(29, 27, 34);
    color: aliceblue;
    border: rgb(29, 27, 34) solid 0px;
    margin-bottom: 2vh;
    font-size: 1.5em;
}